* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-grid {
    background-color: #3C3C3C;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

header {
    background-color: #3C3C3C;
    height: 40px;
}

.menu {
    width: 720px;
    display: flex;
    justify-content: space-evenly;
}


.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
}

.banner {
    background-color: #3C3C3C;
    background-image: url(../img/Game\ mania\ 2.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#carrosel img{
    display: none;
}

.banner-ativo{
display: flex;
}


.texto-banner {
    width: 495;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 25;
    background-color: #0b0b0b;
    color: rgb(61, 253, 13);
    text-decoration: none;
}


.texto-banner h1 {
    font-size: 75px;
    font-weight: bold;
    font-family: 'PT Serif', serif;


}

/*.texto-banner a {
    background-color: #c31616;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px; 
}*/

/*.texto-banner p{
    margin-bottom: 50px;
}*/


.posicao-texto {
    justify-content: flex-start;

}

.secao-jogos {
    background-color: black;
    display: flex;
    justify-content: center;


}

.secao-institucional {
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;

}

.jogos img {
    width: 400px;
}

.posicionamento-header {
    position: relative;
}

footer {
    background-color: #0b0b0b;
}

.rodape {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.links {
    color: #fff;
}

.links h2 {
    font-size: 24px;
}

.links a {
    font-size: 14px;
}

.links-footer {
    display: flex;
    justify-content: space-between;
    width: 400px;

}

.logo-rodape {
    width: 300px;
}


@media screen and (max-width: 1200px) {
    .container-grid {
        width: 90%;
    }

    .menu {
        font-size: 16px;
    }

    .barras {
        width: 30px;
        display: none;
    }

    .logo {
        width: 200px;
    }
    .botao-cadastrar{
        width: 156px;
        color: #fff;
        background-color: #8326ef;
        border: none;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        color: blue;
    }

    .barras {
        width: 30px;
        display: inline-block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 200px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
    }
    .menu-ativo{
        display: flex;
    }

   
    .sociais input[type=email]::placeholder{
        color: #b8b3b3;
        font-weight: bold;
    }
    .botao-cadastrar{
        width: 156px;
        color: #fff;
        background-color: #8326ef;
        border: none;
        font-size: 18px;
    }
    
}